<footer class="footer">
  <small>
<<<<<<< HEAD
    <a href="http://railstutorial.org/">dp App</a>
=======
    <a href="http://railstutorial.org/">WG3 App</a>
>>>>>>> 6f2a9d9b68c988ed496642a8770928cffa6476e5
    by Dejan Pantic
  </small>
  <nav>
    <ul>
<<<<<<< HEAD
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
=======
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
>>>>>>> 6f2a9d9b68c988ed496642a8770928cffa6476e5
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>